flows.json
[{"id":"e77d50bf.6b69","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"64df1ebf.d2131","type":"function","z":"e77d50bf.6b69","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nvar apikey=\"N_TmUaMujnJ0KriGUINy9usyb2mhyOoniRNuJ23BzWdV\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":400,"wires":[["145687bc.c70db8"]]},{"id":"145687bc.c70db8","type":"http request","z":"e77d50bf.6b69","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":388.9999952316284,"wires":[["1a0ce73a.52cc19"]]},{"id":"93aeebc6.bae618","type":"inject","z":"e77d50bf.6b69","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":105.5,"y":313.99999809265137,"wires":[["64df1ebf.d2131"]]},{"id":"15142326.c304dd","type":"debug","z":"e77d50bf.6b69","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":100,"wires":[]},{"id":"1a0ce73a.52cc19","type":"function","z":"e77d50bf.6b69","name":"Pre Prediction","func":"var id = global.get(\"id\")\nvar age = global.get(\"age\")\nvar bp = global.get(\"bp\")\nvar sg=global.get(\"sg\")\nvar al=global.get(\"al\")\nvar su=global.get(\"su\")\nvar rbc=global.get(\"rbc\")\nvar pc=global.get(\"pc\")\nvar pcc = global.get(\"pcc\")\nvar ba = global.get(\"ba\")\nvar bgr = global.get(\"bgr\")\nvar bu = global.get(\"bu\")\nvar sc = global.get(\"sc\")\nvar sod = global.get(\"sod\")\nvar pot = global.get(\"pot\")\nvar hemo = global.get(\"hemo\")\nvar pcv = global.get(\"pcv\")\nvar wc = global.get(\"wc\")\nvar rc = global.get(\"rc\")\nvar htn = global.get(\"htn\")\nvar dm = global.get(\"dm\")\nvar cad = global.get(\"cad\")\nvar appet = global.get(\"appet\")\nvar pe = global.get(\"pe\")\nvar ane = global.get(\"ane\")\n\nvar token=msg.payload.access_token\nvar instance_id=\"6de5477b-412f-44c4-96e9-2d6a06afea77\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\":[\"id\", \"age\", \"bp\", \"sg\", \"al\", \"su\", \"rbc\", \"pc\", \"pcc\", \"ba\", \"bgr\", \"bu\", \"sc\", \"sod\", \"pot\", \"hemo\", \"pcv\", \"wc\", \"rc\", \"htn\", \"dm\", \"cad\", \"appet\", \"pe\", \"ane\"], \"values\": [[id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":351.9999990463257,"wires":[["7c46dae7.3fec04"]]},{"id":"7c46dae7.3fec04","type":"http request","z":"e77d50bf.6b69","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/98a48c9d-9a73-45f1-b857-b5d8dcd3bfdc/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":295.9999990463257,"wires":[["a0d631f2.f90a9","15142326.c304dd"]]},{"id":"fb0f593a.8fa058","type":"ui_form","z":"e77d50bf.6b69","name":"","label":"","group":"962035c8.8e8d38","order":1,"width":0,"height":0,"options":[{"label":"ID","value":"id","type":"number","required":false,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"BP","value":"bp","type":"number","required":true,"rows":null},{"label":"SG","value":"sg","type":"number","required":true,"rows":null},{"label":"al","value":"al","type":"number","required":true,"rows":null},{"label":"SU","value":"su","type":"number","required":false,"rows":null},{"label":"RBC","value":"rbc","type":"text","required":false,"rows":null},{"label":"PC","value":"pc","type":"text","required":false,"rows":null},{"label":"PCC","value":"pcc","type":"text","required":false,"rows":null},{"label":"BA","value":"ba","type":"text","required":false,"rows":null},{"label":"BGR","value":"bgr","type":"number","required":false,"rows":null},{"label":"BU","value":"bu","type":"number","required":false,"rows":null},{"label":"SC","value":"sc","type":"number","required":false,"rows":null},{"label":"SOD","value":"sod","type":"number","required":false,"rows":null},{"label":"POT","value":"pot","type":"number","required":false,"rows":null},{"label":"HEMO","value":"hemo","type":"number","required":false,"rows":null},{"label":"PCV","value":"pcv","type":"number","required":false,"rows":null},{"label":"WC","value":"wc","type":"number","required":false,"rows":null},{"label":"RC","value":"rc","type":"number","required":false,"rows":null},{"label":"HTM","value":"htn","type":"text","required":false,"rows":null},{"label":"DM","value":"dm","type":"text","required":false,"rows":null},{"label":"CAD","value":"cad","type":"text","required":false,"rows":null},{"label":"APPET","value":"appet","type":"text","required":false,"rows":null},{"label":"PE","value":"pe","type":"text","required":false,"rows":null},{"label":"ANE","value":"ane","type":"text","required":false,"rows":null}],"formValue":{"id":"","ag":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":442.9999952316284,"wires":[["64df1ebf.d2131"]]},{"id":"a295b44c.165258","type":"ui_text","z":"e77d50bf.6b69","group":"962035c8.8e8d38","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":787.6000366210938,"y":448.20000743865967,"wires":[]},{"id":"a0d631f2.f90a9","type":"function","z":"e77d50bf.6b69","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":191.60000133514404,"wires":[["a295b44c.165258"]]},{"id":"962035c8.8e8d38","type":"ui_group","z":"","name":"Chronic kidney disease prediction","tab":"ad644fe1.8b383","order":1,"disp":true,"width":"6","collapse":false},{"id":"ad644fe1.8b383","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]