flows (2).json
[{"id":"3194ede8.9f66e2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7333c061.0745a","type":"function","z":"3194ede8.9f66e2","name":"PreToken","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nvar apikey=\"4BA9SOMigGUUOrxx9h6_Kv5mU7krdlblk-IvW6BpzcDi\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":400,"wires":[["267d8cad.2c42a4"]]},{"id":"267d8cad.2c42a4","type":"http request","z":"3194ede8.9f66e2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":388.9999952316284,"wires":[["dc169526.7218b8"]]},{"id":"ab8ed3fd.d5dc6","type":"inject","z":"3194ede8.9f66e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":105.5,"y":313.99999809265137,"wires":[["7333c061.0745a"]]},{"id":"dc169526.7218b8","type":"function","z":"3194ede8.9f66e2","name":"Pre Prediction","func":"var ag = global.get(\"ag\")\nvar bp = global.get(\"bp\")\nvar sg=global.get(\"sg\")\nvar al=global.get(\"al\")\nvar su=global.get(\"su\")\nvar rbc=global.get(\"rbc\")\nvar pc=global.get(\"pc\")\nvar pcc = global.get(\"pcc\")\nvar ba = global.get(\"ba\")\nvar bgr = global.get(\"bgr\")\nvar bu = global.get(\"bu\")\nvar sc = global.get(\"sc\")\nvar sod = global.get(\"sod\")\nvar pot = global.get(\"pot\")\nvar hemo = global.get(\"hemo\")\nvar pcv = global.get(\"pcv\")\nvar wc = global.get(\"wc\")\nvar rc = global.get(\"rc\")\nvar htn = global.get(\"htn\")\nvar dm = global.get(\"dm\")\nvar cad = global.get(\"cad\")\nvar appet = global.get(\"appet\")\nvar pe = global.get(\"pe\")\nvar ane = global.get(\"ane\")\n\nvar token=msg.payload.access_token\nvar instance_id=\"bebc2391-7088-40b8-9d53-c1ff53811531\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"AGE\",\"BP\",\"SG\",\"AL\",\"SU\",\"RBC\",\"PC\",\"PCC\",\"BA\",\"BGR\",\"BU\",\"SC\",\"SOD\",\"POT\",\"HEMO\",\"PCV\",\"WC\",\"RC\",\"HTN\",\"DM\",\"CAD\",\"APPET\",\"PE\",\"ANE\"], \"values\": [[ag,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":351.9999990463257,"wires":[["38863001.2718f"]]},{"id":"38863001.2718f","type":"http request","z":"3194ede8.9f66e2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bebc2391-7088-40b8-9d53-c1ff53811531/deployments/b7524bda-aafb-4b70-b546-e332cb13a3ce/online","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":300,"wires":[["221c77af.676778","1146987d.648f38"]]},{"id":"402c514a.38e","type":"ui_form","z":"3194ede8.9f66e2","name":"","label":"","group":"4069c9b7.ba5d08","order":1,"width":0,"height":0,"options":[{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"BP","value":"bp","type":"number","required":true,"rows":null},{"label":"SG","value":"sg","type":"number","required":true,"rows":null},{"label":"AL","value":"al","type":"number","required":true,"rows":null},{"label":"SU","value":"su","type":"number","required":false,"rows":null},{"label":"RBC","value":"rbc","type":"number","required":false,"rows":null},{"label":"PC","value":"pc","type":"number","required":false,"rows":null},{"label":"PCC","value":"pcc","type":"number","required":false,"rows":null},{"label":"BA","value":"ba","type":"number","required":false,"rows":null},{"label":"BGR","value":"bgr","type":"number","required":false,"rows":null},{"label":"BU","value":"bu","type":"number","required":false,"rows":null},{"label":"SC","value":"sc","type":"number","required":false,"rows":null},{"label":"SOD","value":"sod","type":"number","required":false,"rows":null},{"label":"POT","value":"pot","type":"number","required":false,"rows":null},{"label":"HEMO","value":"hemo","type":"number","required":false,"rows":null},{"label":"PCV","value":"pcv","type":"number","required":false,"rows":null},{"label":"WC","value":"wc","type":"number","required":false,"rows":null},{"label":"RC","value":"rc","type":"number","required":false,"rows":null},{"label":"HTM","value":"htn","type":"number","required":false,"rows":null},{"label":"DM","value":"dm","type":"number","required":false,"rows":null},{"label":"CAD","value":"cad","type":"number","required":false,"rows":null},{"label":"APPET","value":"appet","type":"number","required":false,"rows":null},{"label":"PE","value":"pe","type":"number","required":false,"rows":null},{"label":"ANE","value":"ane","type":"number","required":false,"rows":null}],"formValue":{"ag":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":460,"wires":[["7333c061.0745a"]]},{"id":"221c77af.676778","type":"function","z":"3194ede8.9f66e2","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":191.60000133514404,"wires":[["b5749d9c.080c8","84ad7bc.555f188"]]},{"id":"b5749d9c.080c8","type":"ui_text","z":"3194ede8.9f66e2","group":"4069c9b7.ba5d08","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":787.6000366210938,"y":448.20000743865967,"wires":[]},{"id":"84ad7bc.555f188","type":"debug","z":"3194ede8.9f66e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":892,"y":194,"wires":[]},{"id":"1146987d.648f38","type":"debug","z":"3194ede8.9f66e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":938,"y":333,"wires":[]},{"id":"4069c9b7.ba5d08","type":"ui_group","z":"","name":"Chronic kidney disease prediction","tab":"36714e6.30a99b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"36714e6.30a99b2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]